profiles {
  massive {
    process {
      // Alignment and variant calling processes
      withName: ASSEMBLE {
        time = { 120.minutes * task.attempt }
        memory = { 16384.MB * task.attempt }
        cpus = '8'
      }
      withLabel: short_job {
        time = {30.minutes * task.attempt }
        memory = { 1024.MB * task.attempt }
        cpus = '1'
      }
    }
  }
}
